@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.SkipLink {

   position: absolute;
   top: -200px;
   left: 2px;
   transition: top 0.2s;
}

.SkipLink:focus {
  top: 20px
}

.VHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.Landing {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

.Landing * {
  font-family: Roboto;
}
