@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.SkipLink {
  font-size: 22px;
  line-height: 26px;
  background: #C7D2E9;
  padding: 13px 40px;
  border-radius: 4px;
   position: absolute;
   top: -200px;
   transition: top 0.2s;
   z-index: 100;
}

.SkipLink:focus {
  top: 20px;
}

.VHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.Landing {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

.Landing * {
  font-family: Roboto;
}
