.Navigation {
  margin-top: 75px;
}

.Navigation a {
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.Navigation a:hover {
  text-decoration: none;
}

.Navigation ul {
  list-style: none;
  padding: 0;
}

.Navigation li {
  display: inline-block;
  margin-right: 40px;
}
