.Input {
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 0;
  margin-right: 19px;
}

.InputWithError {
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 0;
  margin-right: 19px;
  position: relative;
}

.InputBlockWithError {
  display: flex;
  flex-direction: column;
  position: relative;
 min-width: 303px;
}

.InputBlockWithError::after {
  content: "";
  background-image: url('./images/cross.png');
  position: absolute;
  color: red;
 width: 20px;
 right: 19px;
 top: 11px;
 height: 20px;
 background-size: contain;
}

.Form {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
}

.Submit {
  padding: 12px 19px;
  background: #5D16D5;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 18px;
  line-height: 20px;
  max-height: 44px;
}

.InputBlock {
  display: flex;
  flex-direction: row;
  min-width: 303px;
  align-items: flex-end;
  justify-content: flex-start;

}

.InputCheckboxBlock {
   margin-top: 16px;
   display: flex;
   flex-direction: row;
   min-width: 303px;
   align-items: center;
   justify-content: flex-start;
}

.InputBlock input[type="email"] {
  width: 100%;
}

.InputForm {
  display: flex;
  flex-direction: column;
}

.Error {
  color: red;
  margin-top: 8px;
}

.Submitted {
   margin-top: 35px;
}
.Checkbox {
  width: 20px;
  height: 20px;
}
